<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
  </head>

  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1-1">
              <img
                src="images/profile.png"
                width="156px"
                height="142px"
                alt=""
              />
            </div>
            <div class="left_1-2"><%=user.name%></div>
            <div class="left_1-3"><%=user.profession%></div>
            <div class="left-icons">
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/facebook.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/instagram.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/twitter.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/linkeding.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/youtube.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/dribbble.svg" class="icon-1" />
                </div>
              </a>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_2">
            <div class="left_2-1">
              <div class="yellow_age">Age:</div>
              <div><%=user.age%></div>
            </div>
            <div class="left_2-1">
              <div class="yellow_res">Residence:</div>
              <div><%=user.residence%></div>
            </div>
            <div class="left_2-1">
              <div class="yellow_free">Freelance:</div>
              <div class="available">Available</div>
            </div>
            <div class="left_2-1">
              <div class="yellow_add">Address:</div>
              <div><%=user.address%></div>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_3">
            <div class="main_lang">Languages</div>
            <div class="lang">
              <div>Uzbek</div>
              <div>100%</div>
            </div>
            <div class="line">
              <img src="icon/line.svg" />
            </div>
            <div class="lang">
              <div>Korean</div>
              <div>80%</div>
            </div>
            <div class="line">
              <img src="icon/line80.svg" />
            </div>
            <div class="lang">
              <div>English</div>
              <div>60%</div>
            </div>
            <div class="line">
              <img src="icon/line60.svg" />
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_4">
            <div class="skills">Skills</div>
            <div class="camp_lang">
              <div>Html</div>
              <div>90%</div>
            </div>
            <div class="line">
              <img src="icon/line90.svg" />
            </div>
            <div class="camp_lang">
              <div>Css</div>
              <div>85%</div>
            </div>
            <div class="line">
              <img src="icon/line85.svg" />
            </div>
            <div class="camp_lang">
              <div>Js</div>
              <div>85%</div>
            </div>
            <div class="line">
              <img src="icon/line80.svg" />
            </div>
            <div class="camp_lang">
              <div>PHP</div>
              <div>75%</div>
            </div>
            <div class="line">
              <img src="icon/line75.svg" />
            </div>
            <div class="camp_lang">
              <div>WordPress</div>
              <div>85%</div>
            </div>
            <div class="line">
              <img src="icon/line85.svg" />
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_5">
            <div class="extra">Extra Skills</div>
            <div class="left_5_row">
              <div class="extra_icon">
                <img src="icon/skill.svg" />
              </div>
              <div class="extra_text">Bootstrap, Materialize</div>
            </div>
            <div class="left_5_row">
              <div class="extra_icon">
                <img src="icon/skill.svg" />
              </div>
              <div class="extra_text">Stylus, Sass, Less</div>
            </div>
            <div class="left_5_row">
              <div class="extra_icon">
                <img src="icon/skill.svg" />
              </div>
              <div class="extra_text">Gulp, Webpack, Grunt</div>
            </div>
            <div class="left_5_row">
              <div class="extra_icon">
                <img src="icon/skill.svg" />
              </div>
              <div class="extra_text">GIT Knowledge</div>
            </div>
          </div>
          <div class="marginer"></div>
        </div>
        <div class="midd_frame">
          <div class="midd_top">
            <div class="abs"><img src="icon/polygon1.svg" /></div>
            <div class="abs2"><img src="icon/rectangle52.svg" /></div>
            <div class="abs3"><img src="icon/Ellipse 16.svg" /></div>
            <div class="abs4"><img src="icon/ellipse13.svg" /></div>
            <div class="abs5"><img src="icon/ellipse13.svg" /></div>
            <div class="abs6"><img src="icon/Ellipse 16.svg" /></div>


            <div class="midd-left">
              <div class="left-h1">Doctor neurologists in OHSU Hospital</div>
              <div class="left-p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et,
                volutpat feugiat placerat lobortis. Natoque rutrum semper sed
                suspendisse nunc lectus.
              </div>
              <div class="left-btn">
                HIRE ME
                <a>
                  <img src="btn_icon/row.svg" />
                </a>
              </div>
            </div>
            <div class="midd-right">
              <img src="images/your_image1.png" />
            </div>
          </div>
          <div class="midd_midd">
            <div class="service">My Services</div>
            <div class="service-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit. lorem
              ipsum
            </div>
          </div>
          <div class="midd_bottom">
            <div class="bottom_content">
              <div class="bottom_icon">
                <img src="menu_icon/coding.svg" />
              </div>
              <div class="bottom_h1">Web Development</div>
              <div class="bottom_p">Blog, E-commerce</div>
            </div>
            <div class="bottom_content">
              <div class="bottom_icon">
                <img src="menu_icon/coding.svg" />
              </div>
              <div class="bottom_h1">UI/UX Design</div>
              <div class="bottom_p">Mobile App, Website Design</div>
            </div>
            <div class="bottom_content">
              <div class="bottom_icon">
                <img src="menu_icon/coding.svg" />
              </div>
              <div class="bottom_h1">Sound Design</div>
              <div class="bottom_p">Voice Over, Beat Making</div>
            </div>
            <div class="bottom_content">
              <div class="bottom_icon">
                <img src="menu_icon/coding.svg" />
              </div>
              <div class="bottom_h1">Game Design</div>
              <div class="bottom_p">Character Design, Props & Objects</div>
            </div>
            <div class="bottom_content">
              <div class="bottom_icon">
                <img src="menu_icon/coding.svg" />
              </div>
              <div class="bottom_h1">Photography</div>
              <div class="bottom_p">Portrait, Product Photography</div>
            </div>
            <div class="bottom_content">
              <div class="bottom_h1_last">Advertising</div>
              <div class="bottom_p_last">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae
                nulla diam in ac dictum a urna viverra morbi.
              </div>
              <div class="midd_adver">
                <div class="order">ORDER NOW</div>
                <img src="menu_icon/frame.svg" class="adv_image" />
              </div>
            </div>
          </div>
        </div>
        <div class="right_frame">
          <div class="right_top">
            <img src="menu_icon/Contrast.svg" alt="" />
          </div>
          <div class="right_middle">
            <img src="menu_icon/union.svg" alt="" />
            <img src="menu_icon/home.svg" alt="" />
            <img src="menu_icon/file-code.svg" alt="" />
            <img src="menu_icon/cv.svg" alt="" />
            <img src="menu_icon/Blog.svg" alt="" />
            <img src="menu_icon/Contact1.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
